<template>
  <div class="form-outline mb-4">
    <label class="form-label" for="mobile">شماره موبایل</label>
    <input type="text"
           id="mobile"
           class="form-control"
           :class="validations"
           autocomplete="off"
           placeholder="09XXXXXXXXX"
           :value="value"
           @input="handlerChangeMobile"
           @keyup="handlerValidationsStatus"
    />
    <div class="invalid-feedback">
      <template v-if="value && !(pattern.test(value))">فرمت شماره موبایل نامعتبر می باشد.</template>
      <template v-else>
        شماره موبایل نمی تواند خالی باشد.
      </template>
    </div>
  </div>
</template>

<script setup>
  import {defineProps, defineEmits, computed} from "vue";

  // emits
  const emit  = defineEmits(["update:value","validationStatus"]);
  // props
  const props = defineProps({value: null})
  // variables
  const pattern = /^(\+98|0)?9\d{9}$/
  // validations
  const validations = computed(()=>{
    const {value} = props
    if (value === null) return ''
    if (value === '' || !(pattern.test(value))) return 'is-invalid'
    return 'is-valid'
  })
  const handlerChangeMobile = (e) => {
    const value = e.target.value
    emit('update:value',value)
  }
  const handlerValidationsStatus = () => {
    emit('validationStatus',validations.value)
  }
</script>

<style scoped>

</style>