<template>
  <div class="form-outline mb-4">
    <label class="form-label" for="password">رمز عبور</label>
    <input
        type="password"
        id="password"
        class="form-control"
        autocomplete="off"
        :class="validations"
        placeholder="رمز عبور را وارد کنید"
        :value="value"
        @input="handlerChangePassword"
        @keyup="handlerValidationsStatus"
    />
    <div class="invalid-feedback">
      <template v-if="value?.length === 0">رمزعبور نمی تواند خالی باشد.</template>
      <template v-else-if="value?.length <= 8">رمزعبور باید بیشتر از 8 کاراکتر باشد.</template>
    </div>
  </div>
</template>

<script setup>
  import {defineProps, defineEmits, computed} from "vue";

  // emits
  const emit  = defineEmits(["update:value","validationStatus"]);
  // props
  const props = defineProps({value: null})
  // computed
  const validations = computed(()=>{
    const {value} = props
    if (value === null) return ''
    if (value === '' || value?.length <= 8) return 'is-invalid'
    return 'is-valid'
  })
  // methods
  const handlerChangePassword = (e) => {
    const value = e.target.value
    emit('update:value',value)
  }
  const handlerValidationsStatus = () => {
    if (validations.value !== '')
      emit('validationStatus',validations.value)
  }
</script>

<style scoped>

</style>