<template>
  <div class="form-outline mb-4" ref="a">
    <label class="form-label" for="username">نام کاربری</label>
    <input
        type="text"
        id="username"
        class="form-control"
        autocomplete="off"
        :class="validations"
        placeholder="نام کاربری را وارد کنید"
        required
        :value="value"
        @input="handlerChangeValidation"
        @keyup="handlerValidationsStatus"
    />
    <div class="invalid-feedback">
      <template v-if="value">
        <template v-if="value?.length <= 3">نام کاربری باید بیشتر از 3 کارکتر باشد.</template>
        <template v-else-if="!pattern.test(value)">نام کاربری فقط می تواند شامل حروف انگلیسی باشد.</template>
      </template>
      <template v-else>
        نام کاربری نمی تواند خالی باشد.
      </template>
    </div>
  </div>
</template>

<script setup>
  import {defineProps, defineEmits, computed} from "vue";

  // emits
  const emit  = defineEmits(["update:value","validationStatus"]);
  // props
  const props = defineProps({value: null})
  // variables
  const pattern = /^[A-Za-z0-9]*$/
  // computed
  const validations = computed(()=>{
    const {value} = props
    if (value === '' || value?.length <= 3 || !pattern.test(value)) return 'is-invalid'
    if (!value) return ''
    return 'is-valid'
  })
  // methods
  const handlerChangeValidation = (e) => {
    const value = e.target.value
    emit('update:value',value)
  }
  const handlerValidationsStatus = () => {
    emit('validationStatus',validations.value)
  }
</script>

<style scoped>

</style>