@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-Thin.ttf") format("ttf");
    font-weight: 100;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/peyda-extralight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/peyda-light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "peyda-sans";
    src: url("../fonts/Peyda-Black.ttf") format("truetype");
    font-weight: 900;
}