<template>
  <div class="d-flex align-items-center justify-content-center vh-100 gradient-custom-2">
    <h1 class="display-1 fw-bold text-white">404</h1>
  </div>
</template>

<script>
export default {
  name: "404"
}
</script>

<style scoped>

</style>