<template>
  <div class="text-center">
    <div v-if="loading" class="loader" id="loading" >
      <div class="d-flex justify-content-center" id="overlay">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <nav class="navbar bg-light">
      <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#" @click="logout">خروج از سیستم</a>
        <div v-if="user">
           {{ user.mobile }} - {{ user.username }}
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card m-5 p-2">
            <VueApexCharts
                width="500"
                type="bar"
                :options="chartOptions"
                :series="series"
            />
          </div>
        </div>
        <div class="col">
          <div class="card m-5 p-2">
            <VueApexCharts
                width="500"
                type="radar"
                :options="chartOptions"
                :series="series"
            />
          </div>
        </div>
        <div class="col">
          <div class="card m-5 p-2">
            <VueApexCharts
                width="500"
                type="bar"
                :options="chartOptions"
                :series="series"
            />
          </div>
        </div>
        <div class="col">
          <div class="card m-5 p-2">
            <VueApexCharts
                width="500"
                type="area"
                :options="chartOptions"
                :series="series"
            />
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script setup>
import {onMounted, ref} from 'vue'
  import axios from "../axios.js";
  import VueApexCharts from "vue3-apexcharts";
  import {redirect,checkLogin} from "../utils/utils.js";

  const loading = ref(false)

  const user = ref(null)

  const chartOptions = {
    chart: {
      id: "vuechart-example",
    },
    xaxis: {
      categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
    }
  }

  const series= [
    {
      name: "series-1",
      data: [30, 40, 35, 50, 49, 60, 70, 91],
    },
  ]

  const logout = async () => {
    try {
      loading.value = true
      await axios.post('/logout')
      localStorage.removeItem('token')
      redirect('login')
    }catch (e) {
      throw e
    }finally {
      loading.value = false
    }
  }

  onMounted(async () => {
    const userInfo = await checkLogin()
    user.value = userInfo
  })

</script>
