<template>
  <MainSection>
    <div class="text-center">
      <img src="../assets/images/logo/logo.webp" alt="logo" class="w-50">
      <h4 class="mt-1 mb-5 pb-1">برای ورود موبایل و رمزعبور را وارد نمایید.</h4>
    </div>
    <form>
      <Mobile
          v-model:value="login.mobile"
          @validationStatus="handlerValidatorMobile"
      />
      <Password
          v-model:value="login.password"
          @validationStatus="handlerValidatorPassword"
      />
      <div class="text-center pt-1 mb-5 pb-1">
        <button
            class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100"
            type="submit"
            @click.prevent="handlerLogin"
            :disabled="validationsFields"
        >
          <span
              v-if="loading"
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
          >
          </span>
          ورود
        </button>
      </div>
      <div class="d-flex gap-2 align-items-center justify-content-center pb-4">
        <p class="mb-0 me-2">حساب کاربری ندارید؟</p>
        <button type="button" class="btn btn-outline-danger" @click="redirect('register')">ثبت نام</button>
      </div>
    </form>
  </MainSection>
</template>

<script setup>
import {ref, reactive, inject, computed} from 'vue'
import axios from '../axios'
import {redirect} from "../utils/utils.js";
import MainSection from "./MainSection.vue";
import Mobile from "./fields/Mobile.vue";
import Password from "./fields/Password.vue";

//variables
const loading          = ref(false)
const validateMobile   = ref('is-invalid')
const validatePassword = ref('is-invalid')
const swal             = inject('$swal')
const login   = reactive({
  mobile: null,
  password: null
})
// methods
const handlerLogin = async () => {
  try {
    if (validationsFields.value) {
      return
    }
    loading.value = true
    const {data} = await axios.post('/login',login)
    localStorage.setItem('token',data?.token)
    redirect('dashboard')
  }catch (e) {
    let messages = ''
    for(let msg in e.response.data.errors) {
      messages += e.response.data.errors[msg] + '<br/>'
    }
    swal({
      position: 'top-center',
      icon: 'error',
      width: '20em',
      title: e?.response?.status === 403 ? messages : 'خطای سرور لطفا دوباره تلاش کنید.',
      showConfirmButton: false,
      showCloseButton: true
    })
    throw e
  }finally {
    loading.value = false
  }
}

const handlerValidatorMobile   = (sts) => { validateMobile.value   = sts }

const handlerValidatorPassword = (sts) => { validatePassword.value = sts }

//computed
const validationsFields = computed(()=>{
  return validateMobile.value === 'is-invalid' || validatePassword.value === 'is-invalid'
})
</script>

<style scoped>

</style>