<template>
  <section class="h-100 gradient-form">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <slot/>
                </div>
              </div>
              <!--  section 2  -->
              <Sidebar/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import Sidebar from "./Sidebar.vue";
</script>

<style scoped>

</style>