<template>
  <MainSection>
    <div v-if="loadingOverlay" class="loader" id="loading" >
      <div class="d-flex justify-content-center" id="overlay">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
    <div class="text-center">
      <img src="../assets/images/logo/logo.webp" alt="logo" class="w-50">
      <h4 class="mt-1 mb-4 pb-1">ثبت نام کنید.</h4>
    </div>
    <form id="register" autocomplete="off">
        <div v-show="current === 0">
          <Username
              v-model:value="register.username"
              @validationStatus="handlerValidatorUserName"
          />
          <Mobile
              v-model:value="register.mobile"
              @validationStatus="handlerValidatorMobile"
          />
          <Password
              v-model:value="register.password"
              @validationStatus="handlerValidatorPassword"
          />
          <div class="text-center pt-1 mb-5 pb-1">
            <button
                class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100"
                type="submit"
                @click.prevent="handlerRegister"
                :disabled="validationsFields"
            >
              <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              ثبت نام
            </button>
          </div>
          <div class="d-flex gap-2 align-items-center justify-content-center pb-4">
            <p class="mb-0 me-2">ثبت نام کرده اید ؟</p>
            <button type="submit" class="btn btn-outline-danger" @click="redirect('login')">ورود</button>
          </div>
        </div>
        <div v-show="current=== 1">
          <p class="font-bold rtl">کد ارسال شده به تلفن همراه خود را وارد کنید.</p>
          <div class="d-flex mb-4">
            <v-otp-input
                ref="otpInput"
                class="ltr"
                v-model:value="code"
                input-classes="otp-input"
                separator="-"
                :num-inputs="6"
                :should-auto-focus="true"
                input-type="letter-numeric"
                :conditionalClass="['one', 'two', 'three', 'four','five','six']"
                :placeholder="['*', '*', '*', '*','*','*']"
                @on-complete="handleOnComplete"
            />
          </div>
          <button type="button"
                  class="btn btn-warning w-100"
                  @click="resend"
                  :disabled="countdown !== 0"
          >
            <span>ارسال مجدد &nbsp;</span>
            <template v-if="countdown !== 0">({{ countdown }} ثانیه)</template>
          </button>
        </div>
      </form>
  </MainSection>
</template>

<script setup>
import {ref, reactive, inject, computed} from 'vue'
import MainSection from "./MainSection.vue";
import {redirect} from "../utils/utils.js";
import axios from "../axios.js";
import Username from "./fields/Username.vue";
import Mobile from "./fields/Mobile.vue";
import Password from "./fields/Password.vue";
import VOtpInput from "vue3-otp-input";

// variables
const loading          = ref(false)
const loadingOverlay   = ref(false)
const validateUserName = ref('is-invalid')
const validateMobile   = ref('is-invalid')
const validatePassword = ref('is-invalid')
const current          = ref(0)
const code             = ref('')
const swal             = inject('$swal')
const interval         = ref(null)
const countdown        = ref(59)
const register         = reactive({
  username: null,
  mobile  : null,
  password: null
})

// computed
const validationsFields = computed(()=>{
  return validateUserName.value === 'is-invalid' || validateMobile.value === 'is-invalid' || validatePassword.value === 'is-invalid'
})

// methods
const handlerRegister = async () => {
  try {
    if (validationsFields.value) {
      return false
    }
    loading.value = true
    await axios.post('/register',register)
    current.value++
    await _StartCountdown()
  }catch (e) {
    let messages = ''
    for(let msg in e.response.data.errors) {
      messages += `${Object.keys(e.response.data.errors).indexOf(msg) + 1}.` + ' ' + e.response.data.errors[msg] + '<br/> <br/>'
    }
    swal({
      position: 'top-center',
      icon: 'error',
      width: '20em',
      title: e?.response?.status === 422 ? messages : 'خطای سرور لطفا دوباره تلاش کنید.',
      showConfirmButton: false,
      showCloseButton: true
    })
    throw e
  }finally {
    loading.value = false
  }
}

const handleOnComplete = async () => {
  try {
    loadingOverlay.value = true
    const {data} = await axios.post('/active',{ code: code.value, mobile: register.mobile })
    localStorage.setItem('token',data.token)
    redirect('dashboard')
  }catch (e) {
    swal({
      icon: 'error',
      title: e?.response?.status === 403 ? e?.response?.data?.msg : 'خطای سرور',
      width: '20em',
      showConfirmButton: false,
      showCloseButton: true,
    })
    throw e
  }finally {
    loadingOverlay.value = false
  }
}

const _StartCountdown = async() => {
  interval.value = setInterval(() => {
    if (countdown.value === 0)
      clearInterval(interval.value)
    else
      countdown.value--
  }, 1000)
}

const resend = async () =>{
  try {
    loadingOverlay.value = true
    countdown.value = 59
    clearInterval(interval.value)
    await axios.post('/resend',{ mobile: register.mobile })
    swal({
      icon: 'success',
      width: '20em',
      title: 'کد پیامکی مجددا ارسال شد.',
      showConfirmButton: false,
      showCloseButton: true
    })
    await _StartCountdown()
  }catch (e) {
    throw e
  }finally {
    loadingOverlay.value = false
  }
}

const handlerValidatorUserName = (sts) => {
  validateUserName.value = sts
}

const handlerValidatorMobile   = (sts) => {
  validateMobile.value   = sts
}

const handlerValidatorPassword = (sts) => {
  validatePassword.value = sts
}

</script>

<style>
.otp-input {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin: 0 8px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* Background colour of an input field with value */
.otp-input.is-complete {
  background-color: #e4e4e4;
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-input + span {
  display: none;
}
</style>