@import "./assets/css/fonts.scss";

body {
    font-family: "peyda-sans" !important;
    height: 100vh;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-radius: 0.3rem;
    }
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

#swal2-title {
    font-size: 1em !important;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100vw;
}
#overlay {
    align-items: center;
    background: #cccccc;
    height: 100vh;
}
br {
    margin-bottom: 0.3em;
}